{% extends "base_generic.html" %}

{% block title %}<title>mini library</title>{% endblock %}

{% block content %}
  <h1>mini library home</h1>
  <p>Welcome to mini library, a website developed by <em>Django framework</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
    <li><strong>Books with Habits in the title :</strong> {{ num_books_with_Habits }}</li>
    <li><a href="{% url 'csrf_attack_test' %}">CSRF test</a></li>
  </ul>
{% endblock %}

<!-- Add additional CSS in static file --> 
{% load static %} 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
